{% extends 'lean/default.html' %}

{% block content %}

    <div class="container">
        <div class="jumbotron">
      <h1><i class="fas fa-pencil-ruler"></i>Friendly Neighbourhood Listing</h1>
      </div>
      <h2 align="center">MGT 1022-Lean Startup Management</h2>
      <h2 align="center">Faculty-Dr. Seetha Ram V.</h2>
      
       </div> 
    <h4 id="imp" text align="center">Project Made By : <br><br>Nitin(17BCE0840)<br>Satnam Bhatia(16BEE0060)<br>Adhitya Kumar(16BME0493)<br>Yash Jain(16BEE0192)<br>Bhanoday(17BEC0209)<br>Mohammed Adil(16BME0919)</h4>


{% endblock %}