{% extends 'lean/default.html' %}

{% block content %}

<div style="text-align: center; width: 100%; left:0; right:0; top:0; bottom:0;  margin:auto; background: rgba(240, 220, 220, 0.473); padding: 15px;" >

    <div class="form-title-row" style="font-family: 'Bree Serif', serif; color: rgb(28, 31, 74);" >
        <h1>Most Popular</h1>
    </div>

    {% for field in data %}

    <div class="content" style="border-width: 2px; border-style: solid; border-radius: 15px; font-family: 'Viga', sans-serif; padding: 15px;">
        <div>
        <h4>Topic : </h4><p>{{field.Topic}}</p>
        </div>
        <div>
        <h4>Content : </h4><p>{{field.Content}}</p>
        </div>
        <div>
            <h4>Submitted By : </h4><p>{{field.Name}}</p>
        </div>
    </div>

    {% endfor %}           
</div>
{% endblock %}